/* Counter Widgets
================ */
.countersWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: var(--bbj-space-m);
  overflow: visible !important;
}

/** [animated-counter] is the container of the animated-counter component */
.countersWrapper [animated-counter] {
  flex: 1 1 24%;
}

/* Charts Widgets
================ */
.chartsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: var(--bbj-space-m);
  overflow: visible !important;
}

.chartsWrapper__chart {
  flex: 1 1 48%;
  min-width: 320px;
}

/* Apps Widgets
================ */
.appsWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: var(--bbj-space-m);
  overflow: visible !important;
}

/* Todo Widget
================ */
.card--todo {
  max-height: 450px;
}

.todo__toolbar {
  display: flex;
  align-items: center;
  gap: var(--bbj-space-s);
  overflow: visible !important;
  border-bottom: 1px solid var(--bbj-color-default) !important;
  padding-bottom: var(--bbj-space-m);
}

.todo__remainingItems {
  flex: 1;
}

.todo__inputWrapper {
  display: flex;
  align-items: center;
  gap: var(--bbj-space-s);
  overflow: visible !important;
}

.todo__input {
  flex: 1 1 100%;
}

.todo__list {
  display: flex;
  flex-direction: column;
  gap: var(--bbj-space-s);
  flex: 1;
  max-height: 450px;
  overflow: auto !important;
}

.todo__item[checked] {
  text-decoration: line-through;
}

/* Inbox Widget
================ */
.card--inbox {
  max-height: 450px;
}

.card__messagesWrapper {
  overflow: auto !important;
}

.card__message {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: var(--bbj-space-s);
  cursor: var(--bbj-cursor-click);
  transition: background-color var(--bbj-transition);
  border-bottom: thin solid var(--bbj-color-default);
  border-style: solid !important;
  border-radius: var(--bbj-border-radius);
}

.card__message:last-child {
  border-bottom: none !important;
  border-style: none !important;
}

.card__message:hover {
  background-color: var(--bbj-color-primary-alt);
}

.card__messageAvatar {
  display: flex;
  align-items: center;
  width: var(--bbj-size-l);
  height: var(--bbj-size-l);
  border-radius: var(--bbj-border-radius-round);
}

.card__messageAvatar img {
  width: 100%;
  height: 100%;
}

.card__messageWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.card__messageContent {
  font-size: var(--bbj-font-size-s);
  color: var(--bbj-color-gray-text);
}

.dialog--reply .dialog__content {
  display: flex;
  flex-direction: column;
  gap: var(--bbj-space-s);
}

.dialog__message::part(input) {
  overflow: visible;
}
