:root {
  --bbj-app-layout-header-collapse-height: 47px;
}

.header__primary {
  display: flex;
  align-items: center;
  gap: var(--bbj-space-s);
}

.header__logo {
  flex: 1;
  display: flex;
  align-items: center;
  padding: var(--bbj-space-s);
}

.header__logo img {
  max-width: 32px;
  border-radius: 10px;
}

.header__primary {
  display: flex;
  align-items: center;
}

.header__primary bbj-tabs-list {
  flex: 1;
  border-top: thin solid var(--bbj-color-default);
}

.header__primary bbj-tab::part(icon) {
  vertical-align: bottom;
}

.header__primary [theme-switcher] {
  margin-right: var(--bbj-space-m);
}

.page {
  display: flex;
  flex-direction: column;
  gap: var(--bbj-space-m);
  margin: 0 auto;
  height: auto !important;
  overflow: visible !important;
  max-width: 1200px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: var(--bbj-space-m);
  padding: var(--bbj-space-m);
  border-radius: var(--bbj-border-radius-m);
  background-color: var(--bbj-surface-3);
  box-shadow: var(--bbj-shadow-1);
}

.card__header {
  display: flex;
  flex-direction: column;
  gap: var(--bbj-space-m);
  font-size: var(--bbj-font-size-l);
  font-weight: bold;
}
